.calories-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    &__title {
        margin: 0;
    }

    &__left-container p {
        margin: -5px -2px;
        font-size: 1.8em;
        font-weight: 700;

        @mixin atSmall {
            font-size: 2em;
        }
    }

    span {
        font-size: 2em;
        font-weight: 700;
        margin: -7px -2px;

        @mixin atSmall {
            font-size: 2.4em; 
        }
    }
}