.daily-value {

    &__indent {
        margin-left: 1em !important;
    }

    p:not(.label--no-divider) {
        border-bottom: 1px solid #888989;
    }

    &--double-indent {
        margin-left: 2em !important;
    }

    &__note {
        font-size: 0.6rem;
        margin: 5px 0;
        padding: 0 8px;
        text-indent: -8px;
    }
}